@page
@model Platform.Pages.Seller.IndexModel
@{
}
<!DOCTYPE html>


<
<body>
    <div class="container">
        <div class="row">
            <div class=" col-2 vh-100" style="background-color: #eee">
                <a class="control-cpyinfo" asp-page="/Index ">基本資料管理</a>
                <div>
                    <Button class="control-cpyinfo" type="button"></Button>
                </div>
                <div>
                    <Button class="control-cpyinfo" type="button"></Button>
                </div>
                <div>
                    <Button class="control-cpyinfo" type="button"></Button>
                </div>
            </div>
            <main role="main" class="pb-3 col-10">
                
            </main>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

     
    </div>
</body>
