@page
@model Platform.Pages.CompanyInfo.IndexModel
@{
    ViewData["Title"] = "公司資料";
}

<br/>
<div class=" = container row p-0 m-0">
    <div class="col-8">
        <h2 class=" text-info"> CompanyInformation</h2>
    </div>
    <div class="col-4">
        <a class="btn btn-info form-control">Create New CompanyInformation</a>
    </div>

    <div class="col-12"> col-12 </div>    
    <div class="col-11"> col-11 </div>
    <div class=" col-1"> col-1</div>
    <div class="col-10"> col-10 </div>
    <div class="col-9"> col-9 </div>

</div>

