@page
@model Platform.Pages.Login.IndexModel
@{
}
<div class="container row p-0 m-0">
    <div class="container col-12 border p-3 mt-5">
        <div class="form-group row">
        <h1 class="col-2">帳號</h1>
        <input class="col-8" />
        </div> 
        <div class ="form-group row">
            <h1 class=" col-2">密碼</h1>
            <input class="col-8" />
        </div>
        <br>
        <button type="submit" value="login" class="btn btn-primary">登入</button>
        <button type="submit" value="forget" class="btn btn-primary">忘記帳密</button>
        <button type="submit" value="create" class="btn btn-primary">免費註冊</button>
</div>
</div>
